.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  margin: 10px;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
}

form input {
  width: 80%;
  height: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin: 0 10px;
}

.btn-enroll {
  background-color: #4caf50;
  color: #fff;
}

button {
}
.add-btn {
  background-color: #4caf50;
  color: #fff;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 70%;
}
a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
  padding: 10px;
  margin: 10px;
}

a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
