.item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.item-content {
  width: 800px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.item-content button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
}
